<!DOCTYPE html>
<html>
<head>
 <title>Galery</title>
 <link rel="stylesheet" type="text/css" href="../static/css/homepage.css" media="screen" />
</head>
<body>
<div class="topnav">
  <a class="active" href="#home"><img src="../static/img/logo.png" alt="Logo"></a>
  <a href="home"> Ulubione </a>
  <a href="gallery"> Powiadomienia </a>
  <a href="mainpage">O nas</a>
</div>
<h2>Front jakiś jest to fajrancik</h2>
<img src="../static/Pan_Wiesio_piwko.jpg" alt="Wiesio" width="500" height="600">
</body>
</html>