<!DOCTYPE html>
<html>
<head>
 <title>WhiskeyPriceTracker</title>

    {% assets 'app-css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}

    <style>
    body {
  background-image: url("../static/Pan_Wiesio_piwko.jpg");
  background-color: #cccccc;
}
</style>

</head>
<body>
<div class="topnav">
  <a class="active" href="/"><img src="../static/img/logo.png" alt="Logo"></a>
  <a href="mainpage"> Ulubione </a>
  <a href="home"> Powiadomienia </a>
  <a href="gallery">O nas</a>
    <a>Logowanie</a>
</div>



<h1>  </h1>




<div class="table-users">

   <div class="header">Tabela zmienności cen</div>

   <table cellspacing="0" style="background-color:#33475b">
      <tr href=mainpage >
         <th>Nazwa</th>
         <th>Aktualna cena</th>
         <th>zmienność </th>
          <th>Kategoria </th>
          <th>Data butelkowania </th>
          <th>Ocena </th>
          <th>Kraj dostawy </th>
         <th width="230">link do aukcji</th>
      </tr>

        {% for row in data %}
            <tr>

                <td><a href="{{row[7]}}">{{row[0]}}</a></td>
                <td>{{row[1]}} </td>
                <td> procentowa zmiana </td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td><a href="{{row[2]}}">link do aukcji</a></td>
            </tr>
        {% endfor %}
   </table>

</div>

</body>
</html>