<!DOCTYPE html>
<html>
<head>
 <title>WhiskeyPriceTracker</title>

    {% assets 'app-css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
<style>
</style>
</head>
<body>
<ul>
	<li><a href=home>Home</a></li>
	<li>About</li>
	<li><a href=gallery>Gallery</a></li>
	<li> <a href=mainpage>About us</a></li>
</ul>


<h2>WhiskeyPriceTracker</h2>



<div class="table-users">
    <p style="background-image: url('Pan_Wiesio_piwko.jpeg');">
   <div class="header">Tabela zmienności cen</div>

   <table cellspacing="0" style="background-color:#33475b">
      <tr href=mainpage >
         <th>Nazwa</th>
         <th>Aktualna cena</th>
         <th>zmienność </th>
          <th>Kategoria </th>
          <th>Data butelkowania </th>
          <th>Ocena </th>
          <th>Kraj dostawy </th>
         <th width="230">link do aukcji</th>
      </tr>

        {% for row in data %}
            <tr>

                <td>{{row[0]}}</td>
                <td>{{row[1]}} </td>
                <td>procentowa zmiana </td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td><a href="{{row[2]}}">link do aukcji</a></td>
            </tr>
        {% endfor %}
   </table>
    </p>
</div>
</body>
</html>